body {
  margin: 0;
  padding: 0;
}
#board {
  width: 100vh;
  height: 100vh;
  margin: auto;
}
.row {
  width: 100%;
  height: calc(100% / 8);
  font-weight: bolder;
  display: flex;
}
.square {
  height: 100%;
  width: calc(100% / 8);
  background-size: cover;
  position: relative;
}
.square[clickable] {
  cursor: pointer;
}
.row:nth-child(odd) .square:nth-child(even),
.row:nth-child(even) .square:nth-child(odd) {
  background-color: #31674A;
}
.row:nth-child(odd) .square:nth-child(odd),
.row:nth-child(even) .square:nth-child(even) {
  background-color: #ECEAE7;
}
.canGoToThisSquare::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: solid 10px rgba(0, 0, 0, .3);
}
